*{padding: 0; margin:0; box-sizing: border-box;}
body{
    scroll-behavior: smooth;
    background-color: black;
    

}
.navbar{
    letter-spacing: 3px;
    background-color: black;
    color: black;
}
 h1{
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: left;
    font-size: 5rem;

}
h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 2rem;
    font-style: bold;
}
h5{
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    
}
p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.icon i{
    padding: 20px;
    background-color: beige;
    font-size: 30px;
    color: black;
    margin:10px 15px;
    border-radius: 50%;
}
#dental p{
    font-family: sans-serif;
    line-height: 30px;
    color: white;
    

}

.card-text{
    color: black;

}


#services.card {
    padding: 20px;
    color: white;
}

.btn {
    background-color: black;
    color: white;
    border-color:black;
}
.collapse {
    background-color: white;
}
.container-fluid {
    background-color: white;
}
.navbar-nav .nav-item .nav-link {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: normal;
}
.navbar-nav .nav-item .nav-link.active{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: normal;
}
.carousel{
    text-align: center;
    
}
.img-fluid{
    width:180rem ;
    height: 30rem;
    object-fit: cover;
}
.container{
    font-size: large;
    color: black;

    
}
.card-text{

    text-align: center;
}
.font-monospace {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 5rem;
    margin-left: 35rem;
    margin-right: 35rem;
    margin-bottom: 5rem ;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.btn:hover {
    background-color: #45a049;
}

.message {
    margin-top: 15px;
    font-size: 14px;
}

.message a {
    color: #4CAF50;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}


